<!DOCTYPE html>
<html>
<head>
    <title>Stock Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="font-family: 'Segoe UI', sans-serif; background: #0f172a; color: white; text-align: center;">

<h1 style="margin-top: 20px;">📊 Stock Dashboard</h1>

<div style="
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
">

    <select id="company" style="padding: 10px; border-radius: 6px;">
        <option value="INFY">INFY</option>
        <option value="TCS">TCS</option>
    </select>

    <button onclick="loadData()" 
        style="padding: 10px 20px; background: #3b82f6; color: white; border: none; border-radius: 6px;">
        Show Data
    </button>

    <select id="company2" style="padding: 10px; border-radius: 6px;">
        <option value="TCS">TCS</option>
        <option value="INFY">INFY</option>
    </select>

    <button onclick="compareStocks()" 
        style="padding: 10px 20px; background: #10b981; color: white; border: none; border-radius: 6px;">
        Compare
    </button>

</div>

<canvas id="chart" style="max-width: 900px; margin: auto;"></canvas>
<script>
let chart;

async function loadData() {
    let symbol = document.getElementById("company").value;

    let res = await fetch(`/data/${symbol}`);
    let data = await res.json();

    console.log(data); // debug

    // ✅ FIX DATE + PRICE PROPERLY
    let labels = data.map(d => new Date(d.Date).toLocaleDateString());  // remove time
    let prices = data.map(d => Number(d.Close));      // convert to number

    if (chart) chart.destroy();

    let ctx = document.getElementById("chart").getContext("2d");

    chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: symbol + " Price",
                data: prices,
                borderWidth: 2
            },
            {
                label: "Moving Average",
                data: data.map(d => {
                    let val = parseFloat(d.MA7);
                    return isNaN(val) ? null : val;
                }),
                borderDash: [5,5]
            },
            {
                label: "Prediction",
                data: data.map(d => {
                let val = parseFloat(d.Prediction);
                return isNaN(val) ? null : val;
                }),
                borderColor: "yellow",
                borderWidth: 2
            }
            ]
        }
    });
}


async function compareStocks() {
    let s1 = document.getElementById("company").value;
    let s2 = document.getElementById("company2").value;

    if (s1 === s2) {
    alert("Please select two different stocks");
    return;
    }

    let res = await fetch(`/compare?symbol1=${s1}&symbol2=${s2}`);
    let data = await res.json();

    let d1 = data.stock1;
    let d2 = data.stock2;

    let labels = d1.map(d => new Date(d.Date).toLocaleDateString());

    let prices1 = d1.map(d => parseFloat(d.Close));
    let prices2 = d2.map(d => parseFloat(d.Close));

    if (chart) chart.destroy();

    let ctx = document.getElementById("chart").getContext("2d");

    chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [
                {
                    label: s1,
                    data: prices1,
                    borderWidth: 2
                },
                {
                    label: s2,
                    data: prices2,
                    borderWidth: 2
                }
            ]
        }
    });
}
</script>

</body>
</html>